# Ignora os ficheiros Word
*.docx

# Ignora os ficheiros ZIP
*.zip

# Ignora as imagens
*.jpg

# Ignorar ficheiros temporários do sistema
.DS_Store
Thumbs.db

# Ignorar ficheiros gerados por compiladores
*.class
*.o
*.exe

# Ignorar pastas de dependências
node_modules/
vendor/

# Ignorar ficheiros de logs
*.log

# Ignorar ficheiros de configuração locais
.env